In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')
data.shape

(18207, 89)

In [3]:
data.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [4]:
data.drop(columns=['Photo','Flag','Nationality','ID','Jersey Number','Contract Valid Until','Club Logo'],inplace=True)

data.drop(columns=['Loaned From','Release Clause','Preferred Foot','Real Face','Height','Weight','Club'],inplace=True)

data.drop(columns=['Wage','Joined','Weak Foot','Name','Age','Value','Body Type','Work Rate','Special'],inplace=True)

In [5]:
data['Position'].value_counts()

ST     2152
GK     2025
CB     1778
CM     1394
LB     1322
RB     1291
RM     1124
LM     1095
CAM     958
CDM     948
RCB     662
LCB     648
LCM     395
RCM     391
LW      381
RW      370
RDM     248
LDM     243
LS      207
RS      203
RWB      87
LWB      78
CF       74
LAM      21
RAM      21
RF       16
LF       15
Name: Position, dtype: int64

In [6]:
data.shape

(18207, 66)

In [7]:
data.head()

,Unnamed: 0,Overall,Potential,International Reputation,Skill Moves,Position,LS,ST,RS,LW,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,94,94,5.0,4.0,RF,88+2,88+2,88+2,92+2,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,1,94,94,5.0,5.0,ST,91+3,91+3,91+3,89+3,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,2,92,93,5.0,5.0,LW,84+3,84+3,84+3,89+3,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,3,91,93,4.0,1.0,GK,NaN,NaN,NaN,NaN,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,4,91,92,4.0,4.0,RCM,82+3,82+3,82+3,87+3,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 66 columns):
Unnamed: 0                  18207 non-null int64
Overall                     18207 non-null int64
Potential                   18207 non-null int64
International Reputation    18159 non-null float64
Skill Moves                 18159 non-null float64
Position                    18147 non-null object
LS                          16122 non-null object
ST                          16122 non-null object
RS                          16122 non-null object
LW                          16122 non-null object
LF                          16122 non-null object
CF                          16122 non-null object
RF                          16122 non-null object
RW                          16122 non-null object
LAM                         16122 non-null object
CAM                         16122 non-null object
RAM                         16122 non-null object
LM                          16122 non-null object
LCM                         16122 non-null object
CM                          16122 non-null object
RCM                         16122 non-null object
RM                          16122 non-null object
LWB                         16122 non-null object
LDM                         16122 non-null object
CDM                         16122 non-null object
RDM                         16122 non-null object
RWB                         16122 non-null object
LB                          16122 non-null object
LCB                         16122 non-null object
CB                          16122 non-null object
RCB                         16122 non-null object
RB                          16122 non-null object
Crossing                    18159 non-null float64
Finishing                   18159 non-null float64
HeadingAccuracy             18159 non-null float64
ShortPassing                18159 non-null float64
Volleys                     18159 non-null float64
Dribbling                   18159 non-null float64
Curve                       18159 non-null float64
FKAccuracy                  18159 non-null float64
LongPassing                 18159 non-null float64
BallControl                 18159 non-null float64
Acceleration                18159 non-null float64
SprintSpeed                 18159 non-null float64
Agility                     18159 non-null float64
Reactions                   18159 non-null float64
Balance                     18159 non-null float64
ShotPower                   18159 non-null float64
Jumping                     18159 non-null float64
Stamina                     18159 non-null float64
Strength                    18159 non-null float64
LongShots                   18159 non-null float64
Aggression                  18159 non-null float64
Interceptions               18159 non-null float64
Positioning                 18159 non-null float64
Vision                      18159 non-null float64
Penalties                   18159 non-null float64
Composure                   18159 non-null float64
Marking                     18159 non-null float64
StandingTackle              18159 non-null float64
SlidingTackle               18159 non-null float64
GKDiving                    18159 non-null float64
GKHandling                  18159 non-null float64
GKKicking                   18159 non-null float64
GKPositioning               18159 non-null float64
GKReflexes                  18159 non-null float64
dtypes: float64(36), int64(3), object(27)
memory usage: 9.2+ MB

In [9]:
data.drop(columns=['LS','ST','RS','LW','LF','CF','RF','RW','LAM','CAM','RAM','LM','LCM','CM','RCM','RM','LWB','LDM'],inplace=True)

In [10]:
data.drop(columns=['CDM','RDM','RWB','LB','LCB','CB','RCB','RB','Unnamed: 0'],inplace=True)

In [11]:
data.head()

,Overall,Potential,International Reputation,Skill Moves,Position,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,94,94,5.0,4.0,RF,84.0,95.0,70.0,90.0,86.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,94,94,5.0,5.0,ST,84.0,94.0,89.0,81.0,87.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,92,93,5.0,5.0,LW,79.0,87.0,62.0,84.0,84.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,91,93,4.0,1.0,GK,17.0,13.0,21.0,50.0,13.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,91,92,4.0,4.0,RCM,93.0,82.0,55.0,92.0,82.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0

In [12]:
data=data[data['Position'].isin(['ST','GK','CB','CM','LB','RB','RM','LM','CAM','CDM','RCB','LCB'])]
data.drop(columns=['Position'],inplace=True)
data.shape

(15397, 38)

In [13]:
data.columns

Index(['Overall', 'Potential', 'International Reputation', 'Skill Moves',
       'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys',
       'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl',
       'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance',
       'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes'],
      dtype='object')

In [14]:
def pace(column):
    return (column['Acceleration']*0.45) + (column['SprintSpeed']*0.55)
data['Pace'] = data.apply(pace, axis=1)
data.drop(columns=['Acceleration','SprintSpeed'],inplace=True)

In [15]:
def passing(column):
    return (column['ShortPassing']*0.35) + (column['Crossing']*0.20) + (column['Vision']*0.20) + (column['LongPassing']*0.15) + (column['Curve']*0.05) + (column['FKAccuracy']*0.05)
data['Passing'] = data.apply(passing, axis=1)
data.drop(columns=['ShortPassing','Crossing','Vision','LongPassing','Curve','FKAccuracy'],inplace=True)

In [16]:
def defending(column):
    return (column['StandingTackle']*0.30) + (column['Marking']*0.30) + (column['Interceptions']*0.20) + (column['HeadingAccuracy']*0.10) + (column['SlidingTackle']*0.10)
data['Defending'] = data.apply(defending, axis=1)
data.drop(columns=['StandingTackle','Marking','Interceptions','HeadingAccuracy','SlidingTackle'],inplace=True)

In [17]:
def shooting(column):
    return (column['Finishing']*0.45) + (column['LongShots']*0.20) + (column['ShotPower']*0.20) + (column['Volleys']*0.05) + (column['Positioning']*0.05) + (column['Penalties']*0.05)
data['Shooting'] = data.apply(shooting, axis=1)
data.drop(columns=['Finishing','LongShots','ShotPower','Volleys','Positioning','Penalties'],inplace=True)

In [18]:
def dribbling(column):
    return (column['Dribbling']*0.50) + (column['BallControl']*0.35) + (column['Agility']*0.10) + (column['Balance']*0.05)
data['Dribblings'] = data.apply(dribbling, axis=1)
data.drop(columns=['Dribbling','BallControl','Agility','Balance'],inplace=True)

In [19]:
def physical(column):
    return (column['Strength']*0.50) + (column['Stamina']*0.25) + (column['Aggression']*0.20) + (column['Jumping']*0.05)
data['Physical'] = data.apply(physical, axis=1)
data.drop(columns=['Strength','Stamina','Aggression','Jumping'],inplace=True)

In [20]:
def GK(column):
    return (column['GKDiving']*0.20) + (column['GKHandling']*0.20) + (column['GKKicking']*0.20) + (column['GKPositioning']*0.20) + (column['GKReflexes']*0.20)
data['GK'] = data.apply(GK, axis=1)
data.drop(columns=['GKDiving','GKHandling','GKKicking','GKPositioning','GKReflexes'],inplace=True)

In [21]:
data.head()

,Overall,Potential,International Reputation,Skill Moves,Reactions,Composure,Pace,Passing,Defending,Shooting,Dribblings,Physical,GK
1,94,94,5.0,5.0,96.0,95.0,90.10,80.95,34.7,93.25,89.10,78.85,11.6
3,91,93,4.0,1.0,90.0,68.0,57.55,44.15,20.2,17.70,31.85,53.70,88.8
8,91,91,4.0,3.0,85.0,82.0,75.45,71.95,89.9,64.65,72.00,84.75,9.2
9,90,93,3.0,1.0,86.0,70.0,52.35,32.00,18.8,13.50,20.75,59.85,86.6
10,90,90,4.0,4.0,90.0,86.0,77.55,74.75,41.0,88.75,85.35,81.70,10.2

In [22]:
cols = ['Potential','Skill Moves','Reactions','Composure','Pace','Passing','Defending','Shooting','Dribblings','Physical','GK','Overall']

In [23]:
data = data[cols]

In [24]:
data.head()

,Potential,Skill Moves,Reactions,Composure,Pace,Passing,Defending,Shooting,Dribblings,Physical,GK,Overall
1,94,5.0,96.0,95.0,90.10,80.95,34.7,93.25,89.10,78.85,11.6,94
3,93,1.0,90.0,68.0,57.55,44.15,20.2,17.70,31.85,53.70,88.8,91
8,91,3.0,85.0,82.0,75.45,71.95,89.9,64.65,72.00,84.75,9.2,91
9,93,1.0,86.0,70.0,52.35,32.00,18.8,13.50,20.75,59.85,86.6,90
10,90,4.0,90.0,86.0,77.55,74.75,41.0,88.75,85.35,81.70,10.2,90

In [25]:
X=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

In [26]:
from sklearn.cross_validation import train_test_split
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.2,random_state=9)

/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [27]:
Xtrain.shape

(12317, 11)

In [28]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()

In [29]:
reg.fit(Xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [30]:
ypred=reg.predict(Xtest)

In [31]:
from sklearn.metrics import r2_score
r2_score(ytest,ypred)

0.8713981981589611